body {
    font-family: 'Times New Roman', Times, serif;
    color: grey
    background-color: grey
    margin: 50px;
    padding: 250;
    max-width: 10000px;
}

h1 {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 1900;
    text-align: center;
    font-weight: 900;
}


img {
    background: local;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
    background-color: antiquewhite;
    padding: 10;
}

p { 
    font-weight: 200;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif
    background-color: whitesmoke;
}

a {
    color: whitesmoke
    background-color: black;
}