body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: crimson;
    background-color: maroon;
    margin: 50px;
    padding: 0;
    max-width: 800px;
}

h1 {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 1900;
    text-align: center;
    font-weight: 900;
}

h3 {
    color: crimson;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 1900;
    text-align: left;
    font-weight: 900;
}

p { 
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: whitesmoke;
}

a {
    color: indianred;
    background-color: black;
}
