body {
  background-color: lightgray;
   font-family: 'Times New Roman', Times, serif;
  font-size: medium;
}

p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
