<nav class="navbar navbar-light" style="background-color: #647067;">
  <!-- Navbar content -->
</nav>
div {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
