<nav class="navbar navbar-light" style="background-color: #647067;">
  <!-- Navbar content -->
</nav>

<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="#">Fixed top</a>
</nav>
